<form  action="/vehicles" method="post">
  <label for="make"><p>MAKE:</p></label>
  <input type="text" id="make" name="make" required>
  <label for="model"><p>MODEL:</p></label>
  <input type="text" id="model" name="model" required>
  <label for="colour"><p>COLOUR:</p></label>
  <input type="text" id="colour" name="colour">
  <label for="Seat Capacity"><p>SEAT CAPACITY:</p></label>
  <input type="text" id="seat_capacity" name="seat_capacity">
  <label for="fuel_type"><p>SELECT FUEL TYPE:</p></label>
  <select name="fuel_type" id="fuel_type">
  <option value="petrol"><p>PETROL</p></option>
  <option value="diesel"><p>DIESEL</p></option>
   </select>
   <label for="daily_price"><p>DAILY PRICE:</p></label>
  <input type="text" id="daily_price" name="daily_price">
  <label for="available_stock"><p>AVAILABLE STOCK:</p></label>
  <input type="text" name="available_stock">
  <input type="submit" value="CREATE STOCK">

</form>
