<form  action="/vehicles" method="post">
  <label for="make"><p>Make:</p></label>
  <input type="text" id="make" name="make">
  <label for="model"><p>Model:</p></label>
  <input type="text" id="model" name="model">
  <label for="colour"><p>Colour:</p></label>
  <input type="text" id="colour" name="colour">
  <label for="Seat Capacity"><p>"seat_capacity":</p></label>
  <input type="text" id="seat_capacity" name="seat_capacity">
  <label for="fuel_type"><p>Select Fuel Type:</p></label>
  <select name="fuel_type" id="fuel_type">
  <option value="petrol"><p>Petrol</p></option>
  <option value="diesel"><p>Diesel</p></option>
   </select>
   <label for="daily_price"><p>Daily Price:</p></label>
  <input type="text" id="daily_price" name="daily_price">
  <label for="available_stock"><p>Available Stock:</p></label>
  <input type="text" name="available_stock">
  <input type="submit" value="Create Stock">

</form>
