
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <h1>CAR RENTAL MANAGEMENT SYSTEM </h1>
    <h3>Welcome to the page!!</h3>
     <ul>
       <li>
         <a href="/">Home</a>
       </li>
       <li>
         <a href="/about_us"> About Us</a>
       </li>
     </ul>
    <meta charset="utf-8">
    <title></title>
<img class="main-car-image" src= "images/images-1-1.png" alt = "black car" width="500" height="600">
<link rel="stylesheet" type="text/css" href="/styles/structures.css">
<link rel="stylesheet" href="/styles/heading.css">
  </head>
  <body>

  </body>

<h3>
<li> <a href="/vehicles">STOCK:</a></li>
<br>

 <li> <a href="/customers">CUSTOMERS:</a></li>
 <br>
 <br>
 <li><a href="/rentals">RENTALS:</a></li>
</h3>
</html>
</div>
