h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}

p {
  color: blue;
}

h3 {
  color: #4B0082;
  background-color:
  border: 1px solid black;
}
body {
    background-color: powderblue;
}
