<h1>New Rental Information</h1>

<form  action="/rentals" method="post">
  <label>
  Select a customer:
    <select name="customer_id">
      <% for customer in @customers %>
      <option value="<%= customer.id %>"><%= customer.first_name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a vehicle:
    <select name="vehicle_id">
      <% for vehicle in @vehicles %>
      <option value="<%= vehicle.id %>"><%= vehicle.make %></option>
      <% end %>
    </select>
  </label>

  <input  type='submit' value="Create Rental">

</form>
